[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "haml"]
	path = haml
	url = git://github.com/nex3/haml-mode.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/yoshiki/yaml-mode

[submodule "less"]
	path = less
	url = git@github.com:purcell/less-css-mode.git
[submodule "yasnippets"]
	path = yasnippets
	url = https://github.com/capitaomorte/yasnippet
[submodule "rspec"]
	path = rspec
	url = git@github.com:pezra/rspec-mode.git
[submodule "inf-ruby"]
	path = inf-ruby
	url = git@github.com:nonsequitur/inf-ruby.git
[submodule "rvm"]
	path = rvm
	url = git@github.com:senny/rvm.el.git
[submodule "cucumber.el"]
	path = cucumber.el
	url = git@github.com:michaelklishin/cucumber.el.git
