[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "haml"]
	path = haml
	url = git://github.com/nex3/haml-mode.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/yoshiki/yaml-mode

[submodule "less"]
	path = less
	url = git@github.com:purcell/less-css-mode.git
