(setq my-ostype 'mac) ; windows mac linux
(setq my-theme 'color-theme-vim-colors)
(setq my-type-face "Monaco 12")
(setq use-theme nil)
(setq my-theme-hline "silver") ; hightlight line color
(setq my-use-col-highlight nil)
(setq my-startshell t)
(setq my-usemenu t)
(setq user-emacs-directory (concat emacs-directory ".emacs.d"))
(setq my-workspace-dir "d:/workspace/")
(setq my-dropbox-dir "~/My Dropbox")
(setq my-mysql-path "/usr/local/bin/mysql")
(setq sql-user "root")
(setq sql-password "put-password-here")
(setq sql-database "mysql")
(setq sql-server "localhost")

